Lyap*
log
latex/
maple/
media/
notas.txt
pyrightconfig.json
refs/
tests/
gif/
.DS_Store
tfg/venv/
tfg/methods/optim/*.html
tfg/methods/optim/*.so
tfg/methods/optim/*.c
tfg/methods/optim/*.o
tfg/methods/optim/build
tfg/*.png

**/**.html
**/**.so
**/**.c
**.npz
